<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ERPMedicoModelContainer" connectionString="metadata=res://*/ERPMedicoModel.csdl|res://*/ERPMedicoModel.ssdl|res://*/ERPMedicoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=erp-medico-debug;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>